
<footer class="footer">
  <!-- <div class="footer-links">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-youtube"><img src="../../../assets/img/youtube.svg" alt="youtube"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-facebook"><img src="../../../assets/img/facebook.svg" alt="facebook"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-twitter"><img src="../../../assets/img/twitter.svg" alt="twitter"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-linkedin-in"><img src="../../../assets/img/linkedin.svg" alt="linkedin"></i>
      </a>
  </div> -->
  

      <div class="links">
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white small-link">Espace client</a></li>
          <li><a href="#!" class="text-white small-link">Nos centres de formation</a></li>
          <li><a href="#!" class="text-white small-link">RGPD</a></li>
        </ul>
      </div>
      <div class="links">
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white small-link">CGU</a></li>
          <li><a href="#!" class="text-white small-link">FAQ</a></li>
          <li><a href="#!" class="text-white small-link">Mentions légales</a></li>
        </ul>
      </div>
      <div class="links">
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white small-link ">A propos</a></li>
          <li><a href="#!" class="text-white small-link">Nous rejoindre</a></li>
          <li><a href="#!" class="text-white small-link">Contactez-nous</a></li>
        </ul>
      </div>
</footer>

