<footer class="text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-youtube"><img src="../../../assets/img/youtube.svg"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-facebook"><img src="../../../assets/img/facebook.svg"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"><img src="../../../assets/img/twitter.svg"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"><img src="../../../assets/img/linkedin.svg"></i
      ></a>
    </section>

    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <img src="../../../assets/img/img_miroir_1.png" class="img-miroir">
          <img src="../../../assets/img/img_miroir_2.png" class="img-miroir">
          <img src="../../../assets/img/img_miroir_3.png" class="img-miroir">
        </div>
      </form>
    </section>
    <section class="">

      <div class="row">

        <div class="col ">
          <ul class="list-unstyled mb-0">
            <li>
             
            </li>
            <li>
              <a href="#!" class="text-white">Espace client</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nos centres de formation</a>
            </li>
            <li>
              <a href="#!" class="text-white">RGPD</a>
            </li>
          </ul>
        </div>

        <div class="col ">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">CGU</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Mentions légales</a>
            </li>
            <li>
              <a href="#!" class="text-white">Politique de confidentialité</a>
            </li>
          </ul>
        </div>

        <div class="col">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">A propos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Nous rejoindre</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contactez-nous</a>
            </li>
            <li>
              <a href="#!" class="text-white">Plan du site</a>
            </li>
          </ul>
        </div>


      </div>
    </section>
  </div>
  <div class="text-left mt-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="logo-footer mt-2" href="https://mdbootstrap.com/"><img src="../../../assets/img/logoFilRougeFooter.png" class="img-footer"></a>
    <p class="mt-3">© 2023 IT Training Copyright:</p>
  </div>
</footer>