<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="japon">
    <meta name="description" content="site sur le japon">
    <link rel="shortcut icon" href="./Assets/Images/logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script src="index.js"></script>
    <title>Connexion</title>
</head>

<body>

    <div class="espace"></div>

    <div>
      <a href="">Accueil</a> >
      <a href="">Catalogue de formations</a> >
      <a href="">Formation détaillée</a> >
      <a href="">Formulaire d'inscription</a>
    </div>
  
    <div class="title">
      <h2>Accédez à votre espace</h2>
    </div>
   

    
    <div class="espace"></div>

    

    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="email">Saisissez votre e-mail*
                <input class="inputForm" type="email"  formControlName="email" required placeholder="@" id="email" name="email">
                <span class="invalid" *ngIf="
                loginForm.get('email')!.errors &&
                loginForm.get('email')!.hasError('required')">
                  Le champs est vide
               </span>
            </label>
            <label for="password">Saisissez votre mot de passe*
              <input class="inputForm" type="password" formControlName="password" required placeholder="****" id="password" name="password">
              <span class="invalid" *ngIf="submitted && loginForm.controls['password'].invalid">
                Le champs est vide
             </span>
            </label>
            <div>
              <button  class="buttonForm" type="submit">
                <a>Se connecter</a>
              </button>
            </div>
            <a class="password" routerLink="/user/password">Mot de passe oublié ?</a>
            <a class="password" routerLink="/user/password">Créer un compte</a>
        
        </form>
    </div>
    
</body>

</html>