<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="japon">
    <meta name="description" content="site sur le japon">
    <link rel="shortcut icon" href="./Assets/Images/logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script src="index.js"></script>
    <title>Connexion</title>
</head>

<body>



    <div>
      <a href="">Accueil > </a>
      <a href="">Catalogue de formations</a> >
      <a href="">Formation détaillée</a> >
      <a href="">Formulaire d'inscription</a>
    </div>
  
    <div class="title">
      <h2>Créez votre compte</h2>
    </div>
   


  
    

    <div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label for="email">Saisissez votre nom*
          <input class="inputForm" type="text" formControlName="nom" required  placeholder="Dupont" id="nom" name="nom">
          <span class="invalid" *ngIf="submitted && !form['nom'].value">
            Le champs est vide
         </span>
      </label>
      <label for="email">Saisissez votre prénom*
        <input class="inputForm" type="text" formControlName="prenom" required  placeholder="Jean" id="prenom" name="prenom">
        <span class="invalid" *ngIf="submitted && !form['prenom'].value">
          Le champs est vide
       </span>
    </label>
        <label for="email">Saisissez votre e-mail*
            <input class="inputForm" type="email" formControlName="email" required  placeholder="@" id="email" name="email">
            <span class="invalid" *ngIf="submitted && !form['email'].value">
              Le champs est vide
           </span>
        </label>
        <label for="password">Saisissez votre date de naissance*
          <input class="inputForm" type="date" formControlName="date" ngModel required id="date" name="date">
          <span class="invalid" *ngIf="submitted && !form['date'].value">
            Le champs est vide
         </span>
        </label>
        <label for="password">Saisissez votre mot de passe*
          <input class="inputForm" type="password" formControlName="password" required  placeholder="****" id="password" name="password">
          <span class="invalid" *ngIf="submitted && !form['password'].value">
            Le champs est vide
         </span>
        </label>
          <button  class="buttonForm">Créer un compte</button>
      </form>
        
    </div>

    
</body>

</html>