<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription formation</title>
</head>

<body>



  <div>
    <a href="">Accueil</a> >
    <a href="">Catalogue de formations</a> >
    <a href="">Formation détaillée</a> >
    <a href="">Formulaire d'inscription</a>
  </div>

  <div class="title">
    <h2>Formulaire d'inscription</h2>
    <h3>Formation [formation]</h3>
  </div>

  <form action="" method="post">
    <div class="container">
      
      <h3>Vous êtes ?</h3>

            <input type="radio" id="particulier" value="particulier" name="radio" class="radio" checked>
            <label for="particulier" class="radio">Un particulier</label>
            <input type="radio" id="entreprise" value="entreprise" name="radio" class="radio" >
            <label for="particulier" class="radio">Une entreprise</label>

        <div>
          <label class="labelForm" for="lieu">Lieu de formation souhaitée*
            <select class="inputForm" name="lieu" id="lieu">
              <option value="select">Choisissez un lieu</option>
              <option value="lille">Lille</option>
              <option value="lens">Lens</option>
              <option value="arras">Arras</option>
              <option value="mars">Marseille</option>
              <option value="mars">_____________________________</option>
            </select>
          </label>
          <label for="session" class="labelForm">Session souhaitée*
            <select class="inputForm" name="date" id="date">
              <option value="select">Choisissez une date</option>
              <option value="lille">Du 01/01/2024 au 30/01/2034 </option>
              <option value="lens">Du 01/02/2034 au 30/02/2024</option>
              <option value="arras">Du 01/03/2024 au 30/03/2024 </option>
              <option value="mars">Du 01/04/2024 au 30/04/2024</option>
            </select>
          </label>
        </div>
        <div>
          <label for="prenom" class="labelForm">Prénom*
            <input class="inputForm" type="email" required placeholder="Prénom" id="email" name="email">
          </label>
          <label for="email" class="labelForm">Nom*
            <input class="inputForm" type="email" required placeholder="Nom" id="email" name="email">
          </label>
        </div>
        <div>
          <label for="anniversaire" class="labelForm">Date de naissance*
            <input class="inputForm" type="text" required placeholder="JJ/MM/AA" id="anniversaire" name="anniversaire">
        </label>
        <label for="lieu" class="labelForm">Lieu de naissance*
          <input class="inputForm" type="text" required placeholder="Lieu de naissance" id="email" name="email">
        </label>
        </div>
        <div class="labelForm">
          <label for="adresse">Adresse postale*
            <input  type="email" class="inputFormLong" required placeholder="Numéro, nature et nom de la rue" id="email" name="email">
          </label>
        </div>
        <div class="labelForm">
          <label for="adresse">Complément d'adresse
            <input  type="email" class="inputFormLong" required placeholder="Résidence, appartement, etc..." id="email" name="email">
          </label>
        </div>
        <div>
          <label for="prenom" class="labelForm">Code postal*
            <input class="inputForm" type="number" required placeholder="CP">
          </label>
          <label for="email" class="labelForm">Ville*
            <input class="inputForm" type="text" required placeholder="Ville">
          </label>
        </div>
        <div>
          <label for="anniversaire" class="labelForm">Numéro de téléphone*
            <input class="inputForm" type="tel" required placeholder="Tel">
        </label>
        <label for="lieu" class="labelForm">Adresse email*
          <input class="inputForm" type="mail" required placeholder="jean.dupont@laposte.net">
        </label>
        </div>
        <div>
          <label for="anniversaire" class="labelForm">Mot de passe*
            <input class="inputForm" type="password" required placeholder="MDP">
        </label>
        <label for="lieu" class="labelForm">Confirmez votre mot de passe*
          <input class="inputForm" type="password" required placeholder="Confirmation MDP">
        </label>
        </div>

        <h5>Coordonées de votre entreprise</h5>

        <div>
          <label for="prenom" class="labelForm">Raison sociale
            <input class="inputForm" type="email" placeholder="Raison sociale" id="email" name="email">
          </label>
          <label for="siret" class="labelForm">Numéro SIRET
            <input class="inputForm" type="number" placeholder="SIRET">
          </label>
        </div>
        <div class="labelForm">
          <label for="adresse">Adresse postale
            <input  type="email" class="inputFormLong" placeholder="Numéro, nature et nom de la rue" id="email" name="email">
          </label>
        </div>
        <div class="labelForm">
          <label for="adresse">Complément d'adresse
            <input  type="email" class="inputFormLong" placeholder="Résidence, appartement, etc..." id="email" name="email">
          </label>
        </div>
        <div>
          <label for="prenom" class="labelForm">Code postal
            <input class="inputForm" type="number" required placeholder="CP">
          </label>
          <label for="email" class="labelForm">Ville
            <input class="inputForm" type="text" required placeholder="Ville">
          </label>
        </div>
        <div>
          <label for="anniversaire" class="labelForm">Numéro de téléphone
            <input class="inputForm" type="tel" required placeholder="Tel">
        </label>
        <label for="lieu" class="labelForm">Adresse email
          <input class="inputForm" type="mail" required placeholder="jean.dupont@laposte.net">
        </label>
        </div>

        <button>S'inscrire</button>
      
 



    </div>
  </form>

<!-- 

  <div class="espace"></div>
  <h2 class="titre">IT TRAINING</h2>

  <div>
    <a href="">Accueil > </a>
    <a href="">Catalogue de formations > </a>
    <a href="">Formation détaillée > </a>
    <a href="">Formulaire d’inscription</a>
  </div>

  <div class="contact">
      <h3>Formulaire d'inscription</h3>
      <h3>Formation [formation]</h3>
  </div>

  <div class="container">
    <h3>Vous êtes ?</h3>

    <ul>
      <li>
        <input type="radio" id="particulier" value="particulier" name="particulier" class="radio" checked>
        <label for="particulier">Un particulier</label>
      </li>
      <li>
        <input type="radio" id="entreprise" value="entreprise" name="entreprise" class="radio">
        <label for="particulier">Une entreprise</label>
      </li>
    </ul>
      <form action="" method="post">
        <div>
          <label class="labelForm" for="Nom">Lieu de formation souhaitée*
            <select class="inputForm" name="languages" id="lang">
              <option value="select">Choisissez un lieu</option>
              <option value="lille">Lille</option>
              <option value="lens">Lens</option>
              <option value="arras">Arras</option>
              <option value="mars">Marseille</option>
            </select>
        </label>
        <label for="email" class="labelForm">Nom*
            <input class="inputForm" type="email" required placeholder="Nom" id="email" name="email">
        </label>
        <label for="email" class="labelForm">Date de naissance*
          <input class="inputForm" type="text" required placeholder="JJ/MM/AA" id="anniversaire" name="anniversaire">
      </label>
        </div>
        <div>
          <label for="Nom" class="labelForm">Session souhaitée*
            <select class="inputForm" name="languages" id="lang">
              <option value="select">Choisissez une date</option>
              <option value="lille">Du 01/01/2024 au 30/01/2034 </option>
              <option value="lens">Du 01/02/2034 au 30/02/2024</option>
              <option value="arras">Du 01/03/2024 au 30/03/2024 </option>
              <option value="mars">Du 01/04/2024 au 30/04/2024</option>
            </select>
        </label>
        <label for="prenom" class="labelForm">Prénom*
            <input class="inputForm" type="email" required placeholder="Prénom" id="email" name="email">
        </label>
        <label for="lieu" class="labelForm">Lieu de naissance*
          <input class="inputForm" type="email" required placeholder="Lieu de naissance" id="email" name="email">
      </label>
      <div class="labelFormLong">
        <label for="adresse">Adresse postale*
          <input  type="email" class="inputForm" placeholder="Adresse" id="email" name="email">
      </label>
      </div>
        
    </div>
      </form>
      
      <button class="buttonForm">S'inscrire</button>
  </div> -->


</body>
</html>