<div class="category_title">
  <h2>Catégorie informatique</h2>
  <h2>Java</h2>
</div>
<main>
  <section class="left-page-detail">
    <article class="Présentation">
      <h3>Présentation</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        delectus molestiae quidem nihil magnam officia, in voluptatum qui, quam
        doloribus quia possimus distinctio maxime porro nulla. Distinctio ut
        voluptatem amet?
      </p>
    </article>

    <div class="card_left_detail">
      <h4>Pour qui ?</h4>

      <ul>
        <li>- Développeurs</li>
        <li>- profil scientifique</li>
      </ul>

      <h4>Prérequis</h4>

      <ul>
        <li>
          - Avoir une première expérience dans un langage de programmation
        </li>
      </ul>

      <button class="button-left-page-detail btn">
        <a href=""></a>Testez mes pré-requis
      </button>
    </div>

    <h4>Programme</h4>
    <ol>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, fuga iste.
        Ea perferendis eligendi voluptatem, debitis itaque delectus! Eveniet,
        nesciunt.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        sapiente placeat nostrum aut quisquam quasi odio laborum autem
        distinctio reprehenderit. Eligendi dicta at impedit, nisi libero eaque
        unde iure exercitationem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        sapiente placeat nostrum aut quisquam quasi odio laborum autem
        distinctio reprehenderit. Eligendi dicta at impedit, nisi libero eaque
        unde iure exercitationem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        sapiente placeat nostrum aut quisquam quasi odio laborum autem
        distinctio reprehenderit. Eligendi dicta at impedit, nisi libero eaque
        unde iure exercitationem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        sapiente placeat nostrum aut quisquam quasi odio laborum autem
        distinctio reprehenderit. Eligendi dicta at impedit, nisi libero eaque
        unde iure exercitationem.
      </li>
    </ol>
  </section>
  <section class="right-page-detail">
    <div class="carte_detail">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inter-Entreprise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Intra-entreprise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sur mesure</a>
            </li>
          </ul>
        </div>
        <div class="card text-center">En présentiel ou à distance</div>
        <div class="card-body">
          <h3>Prochaine Session</h3>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <label>Lieu de formation</label>
            <select class="form-select" id="lieuFormation" formControlName="lieuFormation" aria-label="Default select example">
              <option *ngFor="let sessionFormation of sessionFormations">{{ sessionFormation.lieuSession }}</option>
            </select>
            <label>Session souhaitée</label>
            <select class="form-select" id="sessionSouhaitee" formControlName="sessionSouhaitee" (change)="onSessionSelectionChange()">
             <!--<option *ngFor="let session of sessionOptions" [value]="session.id">{{ session.nom }}</option>-->
             <option *ngFor="let sessionFormation of sessionFormations" >{{ sessionFormation.nom_session }} {{sessionFormation.debut_session}}</option>
 
            </select>
             <p class="price">Prix : {{ selectedSessionPrix }}€</p>

            <button class="buttonForm" type="submit">S'inscrire</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
