.img-it-training{

    width: 70px;
    height: 70px;

    border-radius: 100px;
}


input {
    color: rgba(0,0,0,0.5);

    display: flex;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    border-bottom: 1px solid;
}

li{
    margin-left: 10px;
}

form{
    display: flex;
}

