<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a routerLink="/accueil"><img class="img-it-training" src="../../../assets/img/logoFilRouge.png"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/formations">Formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/products">Espace Client</a>
        </li>
      </ul> 
      <form (ngSubmit)="onSubmit()">
        <input type="search" id="form1" class="form-control"  formControlName="recherche" name="recherche" placeholder="Rechercher...">
        <button type="button" class="btn btn-primary">
          <img src="../../../assets/img/search.svg">
        </button>  
      </form>
      {{recherche.value}}
    </div>
  </div>
</nav>