<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <!-- Je précise déjà les routes que je pense créer -->
      <!-- NB : il s'agit bien d'utiliser les routes d'Angular -->
      <!-- L'attribut est donc : routerLink -->
      <img class="img-it-training" src="../../../assets/img/logoFilRouge.png">
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <!-- Idem ici -->
          <a class="nav-link"  routerLink="/products">Formations</a>
        </li>
        <li class="nav-item">
            <!-- Idem ici -->
          <a class="nav-link"  routerLink="/products">Formations</a>
        </li>
        <li class="nav-item">
            <!-- Idem ici -->
          <a class="nav-link"  routerLink="/products">Espace Client</a>
        </li>
      </ul>
      <ul>
        <li>
            <!-- Idem ici -->
          <input type="text" class="form-control" formControlName="recherche" name="recherche" value="Rechercher...">
        </li>
      </ul>
    </div>
  </div>
</nav>