
  <div class="background-image">
    <div class="titre-home">
      <h2><span class="ititle">I</span>T<span class="ititle">-</span>Training</h2>
    </div>
  </div>

  <div class="presentation">

    <h3>Trouvez la formation qui vous convient !</h3>
    <div class="card-grid">
      <div *ngFor="let formation of formations" class="card-formation">
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/img/fuji.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a routerLink="/formation/detail"><h5 class="card-text">{{formation.intituleFormation}}</h5></a>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-menu">
      <a routerLink="">En voir d'avantage</a>
    </button>

  </div>

