<h1>Mon DashBoard</h1>

<div class="circle">
<span class="initials">NM</span>

</div>
<p class="nom">nom prénom </p>


<section class="dashboard">
<section class="main_dash">
<span class="demande">Demandes de formation 
     <p class="nombre">5</p>
     <ul>
          <li>php</li>
          <li>Symfony</li>
          <li>Azure</li>
     </ul>
</span>
<span class="salles"> Salles disponibles 
     <p class="nombre"> 5</p>
</span>
<span class="">Salles occupées

     <p class="nombre">5</p>
</span> 
 </section>
<section class="formation_dash">
   <span class="en_cours">Formation en cours </span>
   <p class="nombre">2</p>
</section>
<section class="finish_formation">
     <span class="terminee">Formations terminées</span>
     <p class="nombre"> 5 </p>
     <ol>
          <li>Linux</li>
          <li>PHP</li>
     </ol>
</section>



</section>